# **Data Cleaning**

In the code below, we're cleaning the data by dropping unnecessary columns that are not required for visualizations. This is achieved using the drop function in pandas. Additionally, we're addressing duplicate rows and null values to ensure data integrity. Duplicate rows are removed using the drop_duplicates function, while null values are handled using either the dropna function to remove rows with null values or by imputing missing values with meaningful replacements. This cleaning strategy ensures that the dataset is properly prepared for further analysis and visualization.

In [22]:
#| label: cell-datacleaning
merged_data.dtypes

type                            object
id                              object
properties.mag                 float64
properties.place                object
properties.time         datetime64[ns]
properties.updated      datetime64[ns]
properties.tz                   object
properties.url                  object
properties.detail               object
properties.felt                float64
properties.cdi                 float64
properties.mmi                 float64
properties.alert                object
properties.status               object
properties.tsunami               int64
properties.sig                   int64
properties.net                  object
properties.code                 object
properties.ids                  object
properties.sources              object
properties.types                object
properties.nst                 float64
properties.dmin                float64
properties.rms                 float64
properties.gap                 float64
properties.magType              object
properties.type                 object
properties.title                object
geometry.type                   object
geometry.coordinates            object
longitude                      float64
latitude                       float64
altitude                       float64
date                    datetime64[ns]
time                            object
status                          object
sunrise                         object
sunset                          object
first_light                     object
last_light                      object
dawn                            object
dusk                            object
solar_noon                      object
golden_hour                     object
day_length                      object
timezone                        object
utc_offset                       int64
dtype: object

In [23]:
#| label: cell-datacleaning1
columns_to_drop = ['type', 'id', 'properties.place', 'properties.time','properties.updated','properties.felt', 'properties.alert','properties.tz','properties.cdi','properties.mmi',
                   'properties.url', 'properties.detail', 'properties.status','properties.types','properties.code', 'properties.ids','geometry.type', 
                   'geometry.coordinates','status', 'timezone', 'first_light','last_light','solar_noon','utc_offset']

merged_data = merged_data.drop(columns=columns_to_drop)

In [24]:
#| label: cell-datacleaning2
def handle_duplicates(df):
    num_duplicates_before = df.duplicated().sum()
    df.drop_duplicates(inplace=True)
    num_duplicates_after = df.duplicated().sum()
    return df, num_duplicates_before, num_duplicates_after


merged_data, num_duplicates_before, num_duplicates_after = handle_duplicates(merged_data)
print("Number of duplicate rows before removing duplicates:", num_duplicates_before)
print("Number of duplicate rows after removing duplicates:", num_duplicates_after)

Number of duplicate rows before removing duplicates: 31
Number of duplicate rows after removing duplicates: 0

In [25]:
#| label: cell-datacleaning3
merged_data.isnull().sum()

properties.mag           2
properties.tsunami       0
properties.sig           0
properties.net           0
properties.sources       0
properties.nst        1625
properties.dmin       1629
properties.rms           0
properties.gap        1625
properties.magType       2
properties.type          0
properties.title         0
longitude                0
latitude                 0
altitude                 0
date                     0
time                     0
sunrise                  2
sunset                   2
dawn                     3
dusk                     3
golden_hour              1
day_length               0
dtype: int64

In [26]:
#| label: cell-datacleaning4
merged_data.dropna(inplace=True)

In [27]:
#| label: cell-datacleaning5
merged_data.isnull().sum()

properties.mag        0
properties.tsunami    0
properties.sig        0
properties.net        0
properties.sources    0
properties.nst        0
properties.dmin       0
properties.rms        0
properties.gap        0
properties.magType    0
properties.type       0
properties.title      0
longitude             0
latitude              0
altitude              0
date                  0
time                  0
sunrise               0
sunset                0
dawn                  0
dusk                  0
golden_hour           0
day_length            0
dtype: int64

In [28]:
#| label: cell-datacleaning6
merged_data.rename(columns={
    'properties.mag': 'Magnitude',
    'properties.tsunami': 'Tsunami_Alert',
    'properties.sig': 'Significance',
    'properties.net': 'Network',
    'properties.sources': 'Sources',
    'properties.nst': 'Number_of_Stations',
    'properties.dmin': 'Depth_Minimum',
    'properties.rms': 'Root_Mean_Square',
    'properties.gap': 'Gap',
    'properties.magType': 'Magnitude_Type',
    'properties.type': 'Event_Type',
    'properties.title': 'Event_Title'
}, inplace=True)

In [29]:
#| label: cell-datacleaning7
merged_data.head()

,Magnitude,Tsunami_Alert,Significance,Network,Sources,Number_of_Stations,Depth_Minimum,Root_Mean_Square,Gap,Magnitude_Type,...,latitude,altitude,date,time,sunrise,sunset,dawn,dusk,golden_hour,day_length
0,0.98,0,15,nc,",nc,",7.0,0.006471,0.03,92.0,md,...,38.792999,0.09,2024-05-01,18:08:56.200000,6:15:16 AM,8:03:47 PM,5:46:35 AM,8:32:28 PM,7:27:03 PM,13:48:30
1,1.26,0,24,ci,",ci,",28.0,0.177400,0.13,53.0,ml,...,35.488000,2.90,2024-05-01,18:08:31.070000,6:04:04 AM,7:40:43 PM,5:36:50 AM,8:07:57 PM,7:05:41 PM,13:36:39
3,3.00,0,142,us,",us,",28.0,0.566000,0.51,65.0,mb_lg,...,32.501600,5.00,2024-05-01,18:03:23.736000,6:43:37 AM,8:10:22 PM,6:17:30 AM,8:36:29 PM,7:36:38 PM,13:26:45
5,1.18,0,21,ci,",ci,",48.0,0.078500,0.21,60.0,ml,...,33.082167,7.74,2024-05-01,17:39:58.840000,5:58:32 AM,7:27:14 PM,5:32:12 AM,7:53:33 PM,6:53:14 PM,13:28:41
6,1.52,0,36,ci,",ci,",44.0,0.032590,0.19,59.0,ml,...,33.816667,4.84,2024-05-01,17:27:54.840000,6:03:21 AM,7:34:26 PM,5:36:46 AM,8:01:01 PM,7:00:08 PM,13:31:04

# **Test data quality**

To ensure the quality and integrity of our data, we implemented a series of tests and sanity checks. Firstly, we verified the absence of missing values in the tidied DataFrame using assert statements, confirming that no data was missing. Additionally, we conducted tests to ensure a reasonable number of rows in the DataFrame and to catch any potential data processing issues or errors. Furthermore, we checked for duplicate rows to maintain data integrity and tidiness, confirming that there were no duplicate entries. These tests were crucial in ensuring the reliability of our data for subsequent analysis and visualization.

In [30]:
#| label: cell-dataquality
# Verify no missing values
assert merged_data.isnull().sum().sum() == 0, "There are missing values in the tidied DataFrame."

# Verify reasonable number of rows
assert len(merged_data) > 0, "The tidied DataFrame is empty."
assert len(merged_data) < 10000, "The number of rows in the tidied DataFrame seems too large. Check if there's a data processing issue."

# Check for duplicates
assert len(merged_data) == len(merged_data.drop_duplicates()), "Duplicate rows exist in the tidied DataFrame."

# **Store your data in at least 3 different formats**

Storing data in multiple formats, such as SQLite3 databases, CSV files, and Excel spreadsheets, offers versatility and accessibility across different platforms and use cases. SQLite3 databases provide efficient querying and manipulation capabilities, ideal for applications requiring frequent data retrieval. CSV files ensure compatibility with various tools and platforms, facilitating easy data exchange and processing. Excel spreadsheets offer advanced formatting and visualization options, suitable for creating reports and dashboards. By employing these formats, we enhance data accessibility, interoperability, and usability, catering to diverse user preferences and requirements in data analysis, visualization, and reporting workflows.

In [31]:
#| label: cell-datastore
# Save as CSV
merged_data.to_csv('cleaned_data.csv', index=False)

In [32]:
#| label: cell-datastore1
# Save as Excel
merged_data.to_excel('cleaned_data.xlsx', index=False)

In [33]:
#| label: cell-datastore2
import sqlite3
conn = sqlite3.connect('merged_data.db')
merged_data.to_sql('merged_data_table', conn, index=False, if_exists='replace')
conn.commit()
conn.close()

print("Data successfully stored in SQLite database.")

Data successfully stored in SQLite database.

# **Backup of the raw and tidied data on external storage**

In [34]:
#| label: cell-databackup
# Save data to JSON files
with open('data.json', 'w') as file:
    json.dump(data, file)

with open('api_data_list.json', 'w') as file:
    json.dump(api_data_list, file)

### **I've stored both the raw data and tidied data on GitHub for easy access. Here's the link to the GitHub repository where you can view and download the files:https://github.com/stats-at-Rutgers/Backup-files**.